In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
import simplejson as json

## Get User

In [3]:
user_url = "https://api.twitter.com/2/users/by/username/blrcitytraffic"

payload={}
headers = {
  'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAAHwPLgEAAAAAAZOyUEr%2FUR83J05I1HSmXJG%2BkYM%3DJCRDK9Umkep2Wv848nQv8idjzUCPTXm8w36jhYXaSzoVJHqrly',
  'Cookie': 'personalization_id="v1_dPe1Eq63QVhFGUYj1wt+mw=="; guest_id=v1%3A161035892195144019'
}

In [4]:
user_response = requests.request("GET", user_url, headers=headers, data=payload)
print(user_response.text)

{"data":{"id":"1851545900","name":"BengaluruTrafficPolice","username":"blrcitytraffic"}}

## User Timeline

In [5]:
timeline_url = "https://api.twitter.com/2/users/1851545900/tweets?expansions=attachments.media_keys&tweet.fields=in_reply_to_user_id,text&media.fields=preview_image_url,url&max_results=100"

timeline_response = requests.request("GET", timeline_url, headers=headers, data=payload)

In [6]:
twitter_text_data = json.loads(timeline_response.text)

In [7]:
twitter_text_data['data'][0]

{'in_reply_to_user_id': '493936598',
 'text': '@bharat_k4 @chickpetetrfps',
 'id': '1348628731892441089'}

In [8]:
with open('tweet.txt', 'w') as json_file:
    json.dump(twitter_text_data, json_file)

In [9]:
tweets=pd.json_normalize(twitter_text_data,record_path=["data"])
tweets = tweets.fillna("NULL")
tweets.head(15)

,in_reply_to_user_id,text,id,attachments.media_keys
0,493936598,@bharat_k4 @chickpetetrfps,1348628731892441089,NULL
1,720980758634958849,@kiranmsj @ftowntrfps We inform @bwaditrafficp...,1348626565454721025,NULL
2,856686253525405696,@envyk_blr @AddlCPTraffic @CPBlr Please provid...,1348621471602548739,NULL
3,856686253525405696,@envyk_blr @AddlCPTraffic @CPBlr Please provid...,1348620970777473028,NULL
4,2240950310,@ajitnair42 @CPBlr Mr.Ajit Nair both violation...,1348604338617212928,NULL
5,3039090048,@JnagarTr @Maypeng126 @bsktrfps @bsktrfps chec...,1348598064001413123,NULL
6,4468663876,@KiranJoshidwd @DCPTrEastBCP @CPBlr @cparktraf...,1348596147523252225,NULL
7,1189950249483112448,@Maypeng126 We inform to @JnagarTr and our tec...,1348590069393674240,NULL
8,1116569277199306753,@concern13161846 @BlrCityPolice @btppubliceye ...,1348565773153828864,NULL
9,NULL,RT @KRPURATRAFFIC: @jointcptraffic @DCPTrEastB...,1348564891464986626,NULL
10,880253112,@SyedShakeeb_MES Have rectified the wrong viol...,1348545599306534916,NULL
11,1116569277199306753,@concern13161846 @WhitneyCummings @AddlCPTraff...,1348544446883786752,NULL
12,2830199916,@lalli_bv @hsrltrafficps @ctfblr1 @hsrltrafficps,1348540919138512897,NULL
13,880253112,"@SyedShakeeb_MES please wait, we will rectify ...",1348539092556869632,NULL
14,1116569277199306753,@concern13161846 @WhitneyCummings @AddlCPTraff...,1348533695901179905,NULL

In [10]:
media = pd.json_normalize(twitter_text_data['includes']['media'])

In [11]:
media.head()

,media_key,type,url
0,3_1347938632749916160,photo,https://pbs.twimg.com/media/ErTXC3gVoAAmMDm.jpg
1,3_1347938011242057739,photo,https://pbs.twimg.com/media/ErTWesNUUAs1zeN.jpg

In [12]:
tweets[tweets['attachments.media_keys']!="NULL"]

,in_reply_to_user_id,text,id,attachments.media_keys
55,NULL,https://t.co/9hPphck6Qe,1347938674734821377,[3_1347938632749916160]
56,NULL,https://t.co/Pj6A0Oz2iZ,1347938065050783744,[3_1347938011242057739]

In [ ]:
tweets.to_excel('tweets',index=False)